# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  push:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          cache: yarn
          node-version: 20
      - run: yarn --immutable
      # - run: yarn test
      - run: yarn build
      - run: yarn pack
      - run: ls dist*
      - run: tar xvzf package.tgz
      - run: npx publint --strict

  publish-gpr:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
    steps:
      - uses: actions/checkout@v6
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          cache: yarn
          node-version: 20
          registry-url: https://npm.pkg.github.com/
      - run: yarn --immutable
      - run: yarn build
      - run: yarn pack
      - run: npm whoami --registry=https://npm.pkg.github.com/
      # - run: yarn version ${{ github.event.release.tag_name || 'v0.0.10' }}
      - run: npm publish package.tgz --registry=https://npm.pkg.github.com/ --dry-run
      - run: npm publish package.tgz --registry=https://npm.pkg.github.com/
        if: github.event_name == 'release'
